<h1>Editing 
<% if @registration.type == 'CoachRegistration' %>
	Coach
<% else %>
	Participant
<% end %>
registration</h1>

<%= render 'form' %>

<%= link_to 'Show', @registration %> |
<%= link_to 'Back', registrations_path %>
