<% provide(:title, 'New registration') %>
<h1>New registration</h1>

<h2><%= @form.workshop.description %></h2>
<div>
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>
<%= link_to 'Back', :back %>